.box{
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery__item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.classRed{
    background-color: red;
}